---
import Header from "../components/common/Header.astro";
import About from "../components/common/About.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../components/common/Projects.astro";
import Connect from "../components/common/Connect.astro";
import { DecorativeTilesBackground } from "../components/ui/DecorativeTilesBackground";
import { Dock } from "../components/ui/Dock";
import Experience from "../components/common/Experience.astro";
---

<Layout title="Rous">
  <main class="min-h-screen max-w-4xl mx-auto flex flex-col py-24">
    <DecorativeTilesBackground client:visible />
    <Header />
    <div class="flex items-center justify-start">
      <About />
    </div>
    <Projects />
    <Connect />

    <Dock />

    <Experience />
  </main>
</Layout>

<style>
  @keyframes tiles {
    0%,
    40%,
    80% {
      opacity: 0;
    }
    20%,
    60% {
      opacity: 1;
    }
  }
</style>
