---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:inline>
  @font-face {
    font-family: "Manrope";
    src: url("/public/assets/fonts/Manrope.ttf") format("truetype");
  }
  :root {
    --accent: 255, 255, 255, 0.1;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "Manrope";
    background-color: #000;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  ::-webkit-scrollbar {
    width: 0.2rem;
  }
  ::-webkit-scrollbar-track {
    background: #000;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(var(--accent));
    border-radius: 0.25rem;
  }

  .cardScrool::-webkit-scrollbar {
    height: 0.2rem;
  }
  .cardScrool::-webkit-scrollbar-track {
    background: #000;
  }
  .cardScrool::-webkit-scrollbar-thumb {
    background-color: rgb(var(--accent));
    border-radius: 0.25rem;
  }

  .mask {
    mask-image: linear-gradient(black 50%, transparent);
  }
</style>
